.DS_Store
._*
*.py[cod]
*.swp
*.[io]pk
/.idea
*~
/contrib/model_movies/folder
.sass-cache/
.vscode/
*.css.map
/pack
/pages_out
/Packages.stamps
/cosh.json

/doc/build/

.coverage
nosetests.xml

MANIFEST
dist/
build/
*.egg-info/

revproxy_local_conf.json
e2revproxy.conf
